[submodule "lib/subapi"]
	path = lib/subapi
	url = https://github.com/subapidao/subapi
[submodule "lib/ORMP"]
	path = lib/ORMP
	url = https://github.com/darwinia-network/ORMP
[submodule "lib/darwinia-msgport"]
	path = lib/darwinia-msgport
	url = https://github.com/darwinia-network/darwinia-msgport
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
